<br>
<h1>Welcome to the Game</h1>
<br>
<h2>To play against the computer,</h2>
<br>
<h2>PICK...</h2>
<p><a href="/playgame/rock/paper">Rock</a> or <a href="/playgame/scissors/paper">Scissors</a>  or  <a href="/playgame/paper/rock">Paper</a></p>
<h2>OR...</h2>
<p><a href="/playgame/scissors/rock">Scissors</a> or <a href="/playgame/paper/scissors">Paper</a> or <a href="/playgame/rock/scissors">Rock</a> </p>

<h1>You choose!</h1>
